<!-- header included above -->

<div class="container content">
	<h3>Journaling is the #1 way to boost your productivity.</h3>
	<h4>Journaling helps you measure your time, leading to better time management and higher productivity.</h4>
	<p> You can't manage what you don't measure. According to <a href="http://www.progressprinciple.com/" target="blank">Professor Teresa Annabile</a> of Harvard Business School, recording what you do each day in a journal is one of the most important time management techniques, beacuse it helps you celebrate "small wins", keep motivated, and identify patterns where you are unproductive. <br>Writing and reflecting on what you're working on can give you perspective and insight into how to tackle tasks and improve your creativity. Once you have a week or two of logs built up, reflecting on your previous week can be really helpful to identify if you've been doing the activities that matter most to you, showing you what activities have been most productive, what causes you stress and what your personal trigger points for productivity are.</p>
	<p><strong>Start Small.</strong>
	Keeping a journal doesn't need to be onerous. Simply giving a brief overview of a couple of sentences about what you did will be great. Consistentcy is more important than volume or penmanship!
	</p>
	<p><strong>Make it a Habit.</strong> Rather than relying on willpower alone to get yourelf to write a log at the end of the day, try to make it a habit by writing at the same time each day, or following the same activity.</p>
	<p><strong>Chin up! </strong>Even if it's been a terrible day, try to log at least one thing you accomplished or enjoyed. By recording positive experiences ("small wins") you help raise your overall levels of optimism and this not only makes you happier, but also boosts creative thinking, problem solving and productivity.</p>

</div> <!-- /container -->

<!-- footer below -->