
  
    <div class="container form-container">	
      {{#has_message}}
        <div class="error alert alert-danger">{{extra_html}}</div>
      {{/has_message}}
      {{^has_message}}
        <div class="error alert alert-danger hidden"></div>
      {{/has_message}}
   		<form id="login_form" class="form-signin" action="catch_login" method="post">
				<h2 class="form-signin-heading">Please log in</h2>
				<input type="text" name="email" value="" placeholder="Email address" class="form-control"/>
				<input type="password" name="password" value="" class="form-control" placeholder="Password"/>
				<!--<label class="checkbox">
		          <input type="checkbox" value="remember-me"> Remember me
		        </label> -->
				<!--<input type="submit" value="Login"/> -->
				<button class="btn btn-lg btn-default btn-block" type="submit">Log in</button>
				<h5>Don't have an account? <a href="signup">Sign up</a></h5>
			</form>
    </div> <!-- /container -->
