<!-- header included above -->

<div class="container content">
	<h3>Hi Captain {{name}}! What did you do today?</h3>

  <div>{{notification_text}}</div>
  <div class="saved">
  	Your log has been saved.
  </div>
  <div class="error alert alert-danger hidden"></div>

<form id="new_post_form" action="/controller/catch_new_post.php" method="post">
	
	<textarea id="new-post-textarea" type="text" name="post">{{post}}</textarea><br>
	<button class="btn btn-lg btn-default save" type="submit">Save</button>
</form>

</div> <!-- /container -->

<!-- footer below -->