
<div class="container form-container">
   
   <div class="alert-placeholder">
    {{#has_message}}
      <div class="error alert alert-danger">{{extra_html}}</div>
    {{/has_message}}
    {{^has_message}}
      <div class="error alert alert-danger hidden"></div>
    {{/has_message}}
   </div>

 	<div class="row">
 		
    <div class="col-xs-12 col-sm-6">
 			
      <form id="sign_up_form" class="form-signin" action="catch_sign_up.php" method="post">
				<h2 class="form-signin-heading">Sign Up</h2>
        
        <div class="form-group">
          <label class="control-label sr-only" for="inputSuccess5">First name</label>
				  <input type="text" name="name" value="" placeholder="First name" class="form-control"/>
          <span></span>
        </div>
        
        <div class="form-group">
          <label class="control-label sr-only" for="inputSuccess5">Email Address</label>
					<input type="text" name="email" value="" placeholder="Email address" class="form-control"/>
          <span></span>
        </div>
				
        <div class="form-group">
          <label class="control-label sr-only" for="inputSuccess5">Password</label>
          <input type="password" name="password" value="" class="form-control" placeholder="Password"/>
          <span></span>
        </div>

        <div class="form-group">
          <label class="control-label sr-only" for="inputSuccess5">Retype password</label>
          <input type="password" name="password2" value="" class="form-control" placeholder="Retype password"/><br>
          <span></span>
        </div>
        
				<!--<label class="checkbox">
		          <input type="checkbox" value="remember-me"> Remember me
		        </label> -->
				<!--<input type="submit" value="Login"/> -->
				<button class="btn btn-lg btn-default btn-block" type="submit">Sign up</button>
				
        <h5>Already have an account? <a href="/login">Log in </a></h5>
		  </form>
 		</div>

 		<div class="col-xs-12 col-sm-6 form-signin">
 			<h4 class="form-signin-sub-heading">Why you'll love Captain's log:</h4>
 			<ul>
 				<li>Easy to log daily posts</li>
 				<li>See and search your past posts</li>
 				<li>no spam, no ads, and your data is kept safe and secure</li>
 			</ul>
 		</div>
 	</div>


</div> <!-- /container -->
