<div class="container content">
      <form method="post" action="search.php" class="navbar-form" role="search">
        <div class="form-group">
          <input type="text" name="search" class="form-control" placeholder="">
        </div>
        <button type="submit" class="btn">Search logs</button>
      </form>
 {{#has_posts}}
  <h3>{{name}}, here are your past logs.</h3>
  {{#posts}}
  <div class="row">
     <div class="col-xs-4 col-sm-2"><a href="view_post.php?date={{date}}">{{link_text}}</a></div>
     <div class="col-xs-8 col-sm-10">{{content}}</div>
  </div>
 {{/posts}}
{{/has_posts}}
{{^has_posts}}
  <h3>Your logbook is empty. How about logging today's entry <a href="new_post.php">now</a>?</h3>
{{/has_posts}}
</div>
