 /*
 * Globals
 */

html, body {
	margin:0;
	padding:0;
	height:100%;
}
 

/* Links */
a, a:hover, a:focus {
	color: @blue;
}

body {
	background-color: @background-color;
 	color: @light;
 	.wrapper {
		min-height:100%;
		position:relative;
 	}
}

.content {
	padding:10px;
	padding-bottom:80px;   /* Height of the footer element */
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
	color: @light;
	text-shadow: none; /* Prevent inheritence from `body` */
	background-color: @primary;
	border: 3px solid @light;
}
textarea, .post {
	background-color: @paper;
	color: @dark-blue;
	font-size: 1.5em;
	padding: 20px;
	.box-shadow(0 0 8px @gray-light);
	border: none;
	width: 100%;
	@media(min-width: 768px){
		width: 80%;
	}
	@media(min-width: 992px){
		width: 70%;
	}
}
