

// @primary: #98EEDE;
@primary: #52a4d7;
@primary-light: lighten(@primary, 10%);
@primary-dark: darken(@primary, 10%);
@primary-darken: darken(@primary, 30%);
@secondary: #E5563D;
//@background-color: @primary-light;
@background-color: #FFF;

// @orange: #FA6900;
@orange: #fef00e;
//@light-orange: #F38630;
@light-orange: @primary-darken;
//@light: #E0E4CC;
@light: #fff;
//@blue: #047BCA;
@blue: #35455c;
@paper: #FFFCEC;
@paper-darken: darken(@paper, 10%);
@dark-blue: #000F55;

//Overriding bootstrap variables
@navbar-inverse-bg:  @primary;
@navbar-inverse-color: @light;
@navbar-inverse-link-color: @light;                
@navbar-inverse-link-hover-color: @orange;
@navbar-inverse-link-active-color: @light;   
@navbar-inverse-link-active-bg:  @navbar-inverse-bg;
@state-success-bg: #DAFFCB;
@state-success-text: #10B21E;
@state-success-border: #9FFF4C;

//** Load fonts from this directory.
@icon-font-path:          "../bootstrap/fonts/";
//** File name for all font files.
@icon-font-name:          "glyphicons-halflings-regular";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "glyphicons_halflingsregular";